html{
    font-size: 20px;
    background-color:white;
   
}
p{
    font-size: 40px;
    color:purple;
}
test{
    font-size: 25px;
    color: black;
}
thanksfor{
    font-size: 20px;
    color: black;
}
h1{
    font-size: 60px;
    color: purple;
    text-align: center;
}
h2{
    font-size: 25px;
}
textarea{
    height: 40px;
    width: 1000px;
    margin: 0 auto;
    
}
body{
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
img {
    display: block;
    margin: 0 auto;
    width: 1000px;
    

  
}